@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 170px);
}

footer {
  height: 120px;
}
.fa-google {
  background: linear-gradient(to bottom left, transparent 49%, #fbbc05 50%) 0
      25%/48% 40%,
    linear-gradient(to top left, transparent 49%, #fbbc05 50%) 0 75%/48% 40%,
    linear-gradient(-40deg, transparent 53%, #ea4335 54%),
    linear-gradient(45deg, transparent 46%, #4285f4 48%), #34a853;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.snackbar-body {
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
